#myCarousel {
    box-shadow: 1em;
}
 .carousel-item {
     position: relative;
     height: 32rem;
     color: white;
     background-position: left;
     background-size: cover;
     background: black;

 }

 /*styles for each container */
 .container {
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     padding-bottom: 50px;
 }

 /*styles for overlay image*/
 .overlay-image {
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     top: 0;
     background-position: center;
     background-size: contain;
     background-repeat: no-repeat;
     width: 100%;
 }
 .overflow-auto-1 {
    margin: 0 auto;
    width: 75%;
    background-color: #C6D8D3;
    padding: 1%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 2)
 }
 .overflow-auto {
     margin: 0 auto;
     width: 75%;
     margin-top: 5%;
     background-color: #C6D8D3;
     padding: 5%;
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 2)

 }

 h1 {
     text-align: center;
     font-family: 'Lugrasimo';
 }

 p {
     font-family: 'Cormorant Garamond';
     font-size: 1.5em;
 }
 .statistics {
    font-family: 'Cormorant Garamond';
     font-size: 1.5em;
 }

 h2 {
     font-family: 'Cormorant Garamond';
     font-weight: 700;
 }

 .navbar-brand {
     font-family: Lugrasimo;
     padding-right: 45em;

 }
 .nav-item {
    font-family: 'Cormorant Garamond';
    font-size: 1.5em;
 }
 .items-in-list {
    font-family: 'Cormorant Garamond';
 }
 .article-subsection {
    margin-top: 5em;
}

.quote-subsection {
    font-family: 'Cormorant Garamond';
    margin-bottom: 2.5em;
    margin-top: 2.5em;
}

.container-fluid {
    margin: auto;
}

#lineChart1 {
    margin: auto;
}
.custom-navbar{
    background-color: #C6D8D3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 2);
}
#myCarousel {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 2);
}
.graph {
    padding-top: 1em;
}
