{% extends "nav.html" %}

{% block title %}
Landing
{% endblock %}

{% block main %}
    <div class="container-where-i-put-things">

        <!--global container with all the carousel content-->
        <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <!--carousel arrows, update when you add new images-->
            <div class="carousel-indicators">
                <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="3"></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="4"></li>
            </div>
            <!--this container has the individual carousel image content-->
            <div class="carousel-inner">
                <!--copy paste this chunk when you need to add a new image!-->
                <div class="carousel-item active">
                    <div class="overlay-image" style="background-image:url(/static/images/oandd5.jpeg);">
                    </div>
                    <div class="container">
                        <h2>Desdemona (c.1888). Frederic Leighton (British, 1830-1896). Oil on canvas. -</h2>
                        <p>A picture of naivete, gazing upon something far off in the distance.</p>
                    </div>
                </div>
                <!--second slide-->
                <div class="carousel-item">
                    <div class= "overlay-image" style="background-image:url(/static/images/oandd2.jpeg);"></div>
                    <div class="container">
                        <h2>Desdémone (1871). Alexandre Cabanel (French, 1823-1889). Oil on canvas.</h2>
                        <p>Mournful, in white, hands clasped as if pleading for her life. </p>
                    </div>
                </div>
                <!--third slide-->
                <div class="carousel-item" >
                    <div class="overlay-image" style="background-image:url(/static/images/oandd6.jpeg);"></div>
                    <div class="container">
                        <h2>Portrait of the Actress Margaret Hughes (c. 1645-1719). Circle of Sir Peter Lely (British, 1618–1680). Oil on canvas. </h2>
                        <p>On December 8th, 1660, Desdemona was played by a female actress on an English stage for the first time. Margaret Hughes, regarded as the first professional English stage actress, was the first woman known to have played Desdemona. </p>
                    </div>
                </div>

                <div class="carousel-item" >
                    <div class="overlay-image" style="background-image:url(/static/images/oandd7.png);"></div>
                    <div class="container">
                        <h2>Claire Wong as Desdemona. Directed by Ong Keng Sen, co-commissioned by the Telstra Adelaide Festival 2000 and the Singapore Arts Festival, courtesy of TheatreWorks (S) Ltd. Performance.</h2>
                        <p>Singaporean director Ong Keng Sen synthesized traditional and contemporary forms of Asian performance art to respond to Othello in a unique way. Haunting and eerie, the production's shift to focus on Desdemona reveals a new cultural lens through which to look at Shakespeare.</p>
                    </div>
                </div>
                <div class="carousel-item" >
                    <div class="overlay-image" style="background-image:url(/static/images/oandd8.jpg);"></div>
                    <div class="container">
                        <h2> O (2001). Directed by Tim Blake Nelson. Romantic thriller film.</h2>
                        <p>The themes of jealousy and possession are soaked in sex, violence, and drugs before being reshaped for the modern consciousness in this modern adaptation set in high school. </p>
                    </div>
                </div>
                <!--the next/prev buttons going to the next and previous image!-->
                <a href="#myCarousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
                    <span class="sr-only"></span>
                    <span class="carousel-control-prev-icon"
                    aria-hidden="true"></span>
                </a>
                <a href="#myCarousel" class="carousel-control-next" role="button" data-bs-slide="next">
                    <span class="sr-only"></span>
                    <span class="carousel-control-next-icon"
                    aria-hidden="true"></span>
                </a>
            </div>
        </div>

        <!--This is where I will talk about the analysis + motivation + reflection + junk-->
        <div class="overflow-auto">
            <div class="title-1">
                <h1>Desdemona in Othello</h1>
            </div>  
            <section class="article-subsection">
                <h2>Intent</h2>
                <section class="paragraph">
                    <p>
                        <i> Shakespeare’s play Othello tells the tragedy of the titular general who is driven by jealousy into murdering his wife Desdemona, orchestrated by the scheming ensign Iago. </i>
                    </p>
                </section>
                <section class="paragraph">
                    <p>
                        When I read <i>Othello,</i> I was drawn to the tragic figure Desdemona. I saw her as a woman who loved deeply and never stopped advocating for herself, but who was wrongfully stifled by a man’s violent desire to possess and control her. It is <em>impossible</em> to ignore that while Iago manipulates Othello, the plot would have failed if Othello hadn’t already had a set of beliefs that made him feel entitled to kill his wife. But to avoid psychoanalyzing the character himself, we can look to a broader trend in literature that creates certain situations in which violence against women is portrayed as justified or even warranted. 
                    </p>
                </section>

                <section class="paragraph">
                    <p>
                        I’ve heard Desdemona described as “weak”, or a “bad female character”, or “passive”, and I feel as if these analyses are at best reductive and unfair and at worst, outright harmful. I created this website as an open tribute to her character, so that she might be seen as more than a silent, passive martyr. The intent of this website is to call attention to the magnitude of the issue of gendered violence, bridging the gap between literature and reality. I hope that all might question the connection between what we consider normal in media and how those same beliefs might wreak havoc on reality. 
                    </p>
                </section>
            </section>

            <section class="article-subsection">
                <h2>Violence Against Women in Media</h2>
                <section class="paragraph">
                    <p> 
                        Gratuitous violence against women in film, art, literature, music, and other mediums is, in my experience, shockingly normalized. The argument can be made that artists are not responsible for the reactions of those who consume their art, or that art shouldn’t have to sacrifice meaning for arbitrary politically-correct standards, or that people should have the right to create the art that they want to as a matter of taste and personal freedom. It’s also extremely important to acknowledge that portraying an issue is not the same as condoning it. But I have always wondered, why is it that so many <b>men in particular</b> have the drive to write, create, sing, draw, paint, or film women being raped, beaten, murdered, or otherwise be the perpetual victims of horrible and sadistic crimes? Where is the line between portraying violence as a critique and portraying it to reinforce the patriarchal ego?
                    </p>
                </section>
            </section>
            <section class="quote-subsection">
                “Half your body laying on my chest / The rest is in my stomach, that's including your breast / And I'm a just take another guess / Now you probably wishing that you would have said yes” - Tyler the Creator, “Sarah” (2009)
            </section>
            <section class="quote-subsection">
                “But the man, the master of the house, went out to them and said to them, “No, my brethren! I beg you, do not act so wickedly! Seeing this man has come into my house, do not commit this outrage. /Look, here is my virgin daughter and [d]the man’s concubine; let me bring them out now. Humble them, and do with them as you please; but to this man do not do such a vile thing!” /But the men would not heed him. So the man took his concubine and brought her out to them. And they knew her and abused her all night until morning; and when the day began to break, they let her go./Then the woman came as the day was dawning, and fell down at the door of the man’s house where her master was, till it was light.” - Judges 19:22-26 <i>New King James Version</i>
            </section>
            <section class="quote-subsection">
                “For Fortune is a woman who to be kept under must be beaten and roughly handled; and we see that she suffers herself to be more readily mastered by those who so treat her than by those who are more timid in their approaches.” - Niccolo Machiavelli, <i>The Prince</i>
            </section>
                    
                
            

            <section class="article-subsection">
                <h2>Violence Against Women IRL</h2>
                <section class="paragraph">
                    <p> Here is where I will talk about the normalization of violence against women irl.
                        Here is where I will talk about the normalization of violence against women irl. 
                        Here is where I will talk about the normalization of violence against women irl. 
                        Here is where I will talk about the normalization of violence against women irl. 
                        Here is where I will talk about the normalization of violence against women irl. 
                        Here is where I will talk about the normalization of violence against women irl. 
                        Here is where I will talk about the normalization of violence against women irl. 
                    </p>
    
    
                </section>
               
            </section>
        </div>
    </div>
{% endblock %}
        