{% extends "nav.html" %}

{% block title %}
Landing
{% endblock %}

{% block main %}
    <div class="container-where-i-put-things">

        <!--global container with all the carousel content-->
        <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" custom-carousel>
            <!--carousel arrows, update when you add new images-->
            <div class="carousel-indicators">
                <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="3"></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="4"></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="5"></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="6"></li>
            </div>
            <!--this container has the individual carousel image content-->
            <div class="carousel-inner">
                <!--copy paste this chunk when you need to add a new image!-->
                <div class="carousel-item active">
                    <div class="overlay-image" style="background-image:url(/static/images/oandd5.jpeg);">
                    </div>
                    <div class="container">
                        <h2>Desdemona (c.1888)</h2>
                        <p>Frederic Leighton (British, 1830-1896). Oil on canvas. -</p>
                    </div>
                </div>
                <!--second slide-->
                <div class="carousel-item">
                    <div class= "overlay-image" style="background-image:url(/static/images/oandd2.jpeg);"></div>
                    <div class="container">
                        <h2>Desdémone (1871) </h2>
                        <p> Alexandre Cabanel (French, 1823-1889). Oil on canvas. </p>
                    </div>
                </div>
                <!--third slide-->
                <div class="carousel-item" >
                    <div class="overlay-image" style="background-image:url(/static/images/oandd6.jpeg);"></div>
                    <div class="container">
                        <h2>Portrait of the Actress Margaret Hughes (c. 1645-1719)</h2>
                        <p> Circle of Sir Peter Lely (British, 1618–1680). Oil on canvas. </p>
                    </div>
                </div>

                <div class="carousel-item" >
                    <div class="overlay-image" style="background-image:url(/static/images/oandd7.png);"></div>
                    <div class="container">
                        <h2>Claire Wong as Desdemona</h2>
                        <p>
                            Directed by Ong Keng Sen, co-commissioned by the Telstra Adelaide Festival 2000 and the Singapore Arts Festival
                        </p>
                    </div>
                </div>
                <div class="carousel-item" >
                    <div class="overlay-image" style="background-image:url(/static/images/oandd8.jpg);"></div>
                    <div class="container">
                        <h2> O (2001)</h2>
                        <p>. Directed by Tim Blake Nelson. Romantic thriller film.</p>
                    </div>
                </div>
                <div class="carousel-item" >
                    <div class="overlay-image" style="background-image:url(/static/images/oandd11.jpeg);"></div>
                    <div class="container">
                        <h2> Desdemona (2011)</h2>
                        <p>. Directed by Toni Morrison. Play. </p>
                    </div>
                </div>
                <div class="carousel-item" >
                    <div class="overlay-image" style="background-image:url(/static/images/oand12.jpeg);"></div>
                    <div class="container">
                        <h2> Heather Lind in Othello (2018)</h2>
                        <p>. Shakespeare in the Park. Photo courtesy of the Public Theater</p>
                    </div>
                </div>

                <!--the next/prev buttons going to the next and previous image!-->
                <a href="#myCarousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
                    <span class="sr-only"></span>
                    <span class="carousel-control-prev-icon"
                    aria-hidden="true"></span>
                </a>
                <a href="#myCarousel" class="carousel-control-next" role="button" data-bs-slide="next">
                    <span class="sr-only"></span>
                    <span class="carousel-control-next-icon"
                    aria-hidden="true"></span>
                </a>
            </div>
        </div>

        <!--This is where I will talk about the analysis + motivation + reflection + junk-->
        <div class="overflow-auto">
            <div class="title-1">
                <h1>Objective</h1>
            </div>  
            <section class="article-subsection">
                <h2>Intent</h2>
                <section class="paragraph">
                    <p>
                        <i> Shakespeare’s play Othello tells the tragedy of the titular general who is driven by jealousy into murdering his wife Desdemona, orchestrated by the scheming ensign Iago. </i>
                    </p>
                </section>
                <section class="paragraph">
                    <p>
                        When I read <i>Othello,</i> I was drawn to the tragic figure Desdemona. I saw her as a woman who loved deeply and never stopped advocating for herself, but who was wrongfully stifled by a man’s violent desire to possess and control her. It is <em>impossible</em> to ignore that while Iago manipulates Othello, the plot would have failed if Othello hadn’t already had a set of beliefs that made him feel entitled to kill his wife. But to avoid psychoanalyzing the character himself, we can look to a broader trend in literature that creates certain situations in which violence against women is portrayed as justified or even warranted. 
                    </p>
                </section>

                <section class="paragraph">
                    <p>
                        I’ve heard Desdemona described as “weak”, or a “bad female character”, or “passive”, and I feel as if these analyses are at best reductive and unfair and at worst, outright harmful. 
                        I created this website as an open tribute to her character, so that she might be seen as more than a silent, passive martyr. 
                        The intent of this website is to call attention to the magnitude of the issue of gendered violence by bridging the gap between literature and reality. I can think of no better medium to
                        emphasize the scale of a societal issue than a shareable site.
                        I hope that all might question the connection between what we consider normal in media and how those same beliefs might wreak havoc on reality. 
                    </p>
                </section>
            </section>

            <section class="article-subsection">
                <h2>Entitlement, Violence and The Desire to Possess</h2>
                <section class="paragraph">
                    <p> 
                        <i>
                            "O curse of marriage<br>
                            That we can call these delicate creatures ours<br>
                            And not their appetites!" (3.3.309-311)<br>
                        </i>
                        Othello laments to Iago that he cannot control Desdemona's desire for him despite being joined in marriage.
                        Though on the surface level it is a rational wish to want ones' partner to be attracted to them, this desire to possess 
                        a woman in body and mind takes a sinister turn as love turns to violence in the same act, as soon as Othello sees "proof"
                        of Desdemona's relationship with Cassio.<br> 
                    </p>
                        
                </section>
                <section class="paragraph">
                    <p>
                        <i>
                            "I’ll tear her all to pieces."<br>
                            (3.3.490)<br>
                        </i>
                        As soon as Othello perceives that he has lost control over Desdemona, he can no longer see her as an object of affection. 
                        This implies that for him, the boundary between love and violence is held in place by possession and control. Though Iago's plot
                        was the catalyst for the tragedy, it is Othello's possessive nature that truly leads to the bloodshed in the play. 
                    </p>
                </section>
                <section class="paragraph">
                    <p>
                        <i>
                            "O banish me, my lord, but kill me not!"<br>
                            (5.2.98)<br>
                        </i>
                    </p>
                </section>
                <section class="paragraph">
                    <p>
                        <i>
                            "No, as I am a Christian!<br>
                            If to preserve this vessel for my lord<br>
                            From any other foul unlawful touch<br>
                            Be not to be a strumpet, I am none."<br>
                            (4.2.95-98)<br>
                        </i>
                    </p>
                </section>
                <section class="paragraph">
                    <p>
                        Desdemona never accepts Othello's unfair treatment or assumptions of her, advocating for her virtue and fighting for her life to the greatest extent that she can. 
                        I don't think that Desdemona is written as a passive, silent victim, and instead should be understood as a character who had agency and a 
                        will that was robbed by a destructive masculine urge. In addition, if one applies this same kind of thinking to real-life, in assuming that a female victim of domestic 
                        violence should have fought harder, struggled more, etc., it implies that it's a woman's job to control the violent urges of 
                        the men who put them in danger — an extremely dangerous narrative to propagate. 
                    </p>
                </section>
                <section class="paragraph">
                    <p> 
                        <i>
                            “The most common type of killer was a possessively jealous type, and I found that many of the men who…commit murder-suicide, as well as those who kill their children, also seem to fit that profile"<br>
                            (<a href = "https://www.ojp.gov/pdffiles1/nij/230412.pdf">qtd in Auchter</a>)<br>
                        </i>
                        
                    </p>
                </section>
                <section class = "paragraph">
                    <p>
                        <i>
                            "If the husband feels like he's losing control -- for example, if he lost his job or his spouse is giving attention to someone else -- the wife may feel like he is trying to control her and start to pull away. That's often when domestic violence will start"<br>
                            (<a href = "https://abcnews.go.com/US/anger-revenge-resentment-deeper-drives-husbands-kill-wives/story?id=96532239">qtd in Shapiro 2023</a>)<br>
                        </i>
                        Jealousy and feelings of loss of control in a relationship are two major, documented motivators of domestic violence. Violence is seen as a way to resolve of those feelings by those who commit intimate
                        partner violence for those reasons. Why? Where does the masculine entitlement over a woman's life come from? Is this a cultural phenomenon without consequence?
                </section>
                <section class = "paragraph">
                    <p>
                        <i>
                            "Yet she must die, else she’ll betray more men."<br>
                            (5.2.6)
                        </i>
                    </p>
                </section>
            </section>
    

            <section class="article-subsection">
                <h2>Violence Against Women in Media</h2>
                <section class="paragraph">
                    <p> 
                        Gratuitous violence against women in film, art, literature, music, and other mediums is, in my experience, shockingly normalized. The argument can be made that artists are not responsible for the reactions of those who consume their art, or that art shouldn’t have to sacrifice meaning for arbitrary politically-correct standards, or that people should have the right to create the art that they want to as a matter of taste and personal freedom. It’s also extremely important to acknowledge that portraying an issue is not the same as condoning it. But I have always wondered, why is it that so many <b>men in particular</b> have the drive to write, create, sing, draw, paint, or film women being raped, beaten, murdered, or otherwise be the perpetual victims of horrible and sadistic crimes? Where is the line between portraying violence as a critique and portraying it to reinforce the patriarchal ego?
                    </p>
                </section>
            </section>
            <section class="quote-subsection">
                “Half your body laying on my chest / The rest is in my stomach, that's including your breast / And I'm a just take another guess / Now you probably wishing that you would have said yes” - Tyler the Creator, “Sarah” (2009)
            </section>
            <section class="quote-subsection">
                “But the man, the master of the house, went out to them and said to them, “No, my brethren! I beg you, do not act so wickedly! Seeing this man has come into my house, do not commit this outrage. /Look, here is my virgin daughter and [d]the man’s concubine; let me bring them out now. Humble them, and do with them as you please; but to this man do not do such a vile thing!” /But the men would not heed him. So the man took his concubine and brought her out to them. And they knew her and abused her all night until morning; and when the day began to break, they let her go./Then the woman came as the day was dawning, and fell down at the door of the man’s house where her master was, till it was light.” - Judges 19:22-26 <i>New King James Version</i>
            </section>
            <section class="quote-subsection">
                “For Fortune is a woman who to be kept under must be beaten and roughly handled; and we see that she suffers herself to be more readily mastered by those who so treat her than by those who are more timid in their approaches.” - Niccolo Machiavelli, <i>The Prince</i>
            </section>
                    
            <section class="article-subsection">
                <h2>Violence Against Women in Real Life</h2>
                <section class="paragraph">
                    <ul class="statistics">
                        <li><a href="https://news.un.org/en/story/2010/03/331422">The UN estimates that ~5000 women and girls are victims of "honor-killings".</a> </li>
                        <li><a href = "https://abcnews.go.com/US/anger-revenge-resentment-deeper-drives-husbands-kill-wives/story?id=96532239">An average of 70 women in the U.S. are shot and killed by an intimate partner each month as of 2023.</a></li>
                        <li><a href = "https://unstats.un.org/unsd/gender/chapter6/chapter6.html">As of 2015, less than 40% of women who experienced violence sought help of any kind. Of those who did, less than 10% sought help from the police.</a></li>
                        <li><a href = "https://www.thehotline.org/stakeholders/domestic-violence-statistics/">35.6% of women and 28.5% of men in the US have experienced rape, physical violence, and/or stalking by an intimate partner in their lifetime.</a></li>
                        <li><a href = "https://bjs.ojp.gov/female-murder-victims-and-victim-offender-relationship-2021">In 2021, 34% of female murder and nonnegligent manslaughter victims were killed by an intimate parter, in comparison with 6% of their male counterparts.  </a></li>
                    </ul>
    
                </section>
               
            </section>
        </div>
    </div>
{% endblock %}
        